{% extends "auctions/layout.html" %}
{% block count%}
{% if count != 0 %}
<span class="square">{{count}}</span>
{%endif%}
{% endblock %}
{% block body %}

<h2>Active Listings</h2>


<div id="list">

    {% for auction in auctionlist %}

    <div id="auction">
        <img src="{{auction.image}}" width="400px" alt="">
        <div id="content">
            <h2><a href="{% url 'listings' auction.id %}">{{auction.title}}</a></h2>
            <br>
            <h3>Price: $ {{auction.price}}</h3>
            <br>
            <p>{{auction.description}}</p>
            <span>Created {{auction.date}}</span>
        </div>

    </div>
    {%endfor%}
</div>


{% endblock %}